.navbar-item {
  display: "flex";
  align-items: "center";

  justify-content: "center";
}

.navbar {
  box-shadow: var(--mantine-shadow-xs);
  width: 100%;
  z-index: 0;
  height: 3rem;
}

@media (max-width: 600px) {
  .hide {
    display: none;
  }
  .icons {
    gap: 5px;
  }
}
