.userButton {
  display: flex;
  background-color: transparent;
  justify-content: start;
  align-items: start;
  color: var(--mantine-color-bright);
  padding: 0px;
  border-radius: 0%;
  margin: 0px;
}

.userButton:hover {
  background-color: var(--mantine-primary-color-light-hover);
  color: black;
}
.userButton {
  background-color: var(--mantine-color-default-hover);
  color: black;
}

.show-online:hover {
  cursor: pointer;
  user-select: none;
}

.sidebar-profile-picture {
  border-radius: 50%;
}
.sidebar {
  width: 250px;
}
@media (max-width: 600px) {
  .hide-on-small {
    display: none;
  }
  .sidebar {
    width: 55px;
  }
}
